<section class="products">
  <div class="container">
    <h2 class="sr-only">Создай свой звук</h2>

    <div class="products__inner">
      <!--menu.html-->
      <%= menuTemplate({
        parrentClass: 'products__menu'
      }) %>

      <div class="products__preview">
        <img class="products__preview-img" src="./img/micro.jpg" srcset="./img/micro.webp" width="600" height="600" alt="#">
      </div>

      <!--product.html-->
      <%= productTemplate({}) %>
    </div>
  </div>
</section>
